extends layout.pug

block content
  table
    tr
      td
        pre url
      td
        pre= url
    tr
      td
        pre status
      td
        pre= status
    each key in order
      tr
        td
          pre= key
        td
          pre= headers[key]
